recursive-include examples *
include CONTRIBUTORS.txt
include ez_setup.py
include License.txt
recursive-include peyutil/test/data *
include README.md
include README.rst
include requirements.txt
recursive-include scripts *
include setup.cfg
include setup.py
include test.sh
include tests/*.py
include tests/*.sh
include THANKS.txt
global-exclude .DS_Store
global-exclude *.pyc
global-exclude .gitignore
